annotated-types
anyio
certifi
click
colorama
fastapi 
h11 
httpcore 
httpx 
idna 
pydantic  
pydantic_core 
sniffio 
starlette  
typing_extensions 
typing-inspection 
uvicorn
PySide6
openpyxl
pytest
requests
